<footer class="py-2">
  <div class="container text-white text-center pt-3 pb-1">
    <div class="row">
      <div class="col">
        <a class="text-muted" href="https://progressivekoalition.de">#ProKo</a> ist ein Gemeinschaftsprojekt, initiiert von <a class="text-muted" href="https://bewegung.jetzt">DEMOKRATIE IN BEWEGUNG</a> · <a class="text-muted" href="https://bewegung.jetzt/impressum/">Impressum</a> · <a class="text-muted" href="https://bewegung.jetzt/datenschutz/">Datenschutz</a>
      </div>
    </div>
  </div>
</footer>
