<div class="bg-primary mb-3" style="
    {% if backdrop %}background: url({{backdrop}});{%endif%}
    background-size: cover;
    background-position: center center;
    min-height: 20em;
    display: flex;
    flex-direction: column;
    align-items: end;">

    <div class="container">
      <div class="row">
        <div class="col{% if thin_boxed %}-md-10{% endif %}">
          <a href="/">
            <img src="/assets/images/logos/proko.png" class='w-50 d-sm-block d-none' alt="Logo der Progressiven Koaltion: ein Kreis aus bunten, überlappenden Streifen, daneben der Text 'Progressive Koalition'" />
            <img src="/assets/images/logos/proko.png" class='w-100 d-md-none' alt="Logo der Progressiven Koaltion: ein Kreis aus bunten, überlappenden Streifen, daneben der Text 'Progressive Koalition'" />
          </a>
        </div>
      </div>
    </div>
  <div class="container text-white">
        <div class="row justify-content-md-center">
          <div class="col{% if thin_boxed %}-md-10{% endif %}">
      <h1>{{title}}</h1>
      </div>
    </div>
  </div>
</div>