<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        crossorigin="anonymous"></script>
        
<script src="{{ site.baseurl }}/assets/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
  $(function(){
    for (var i = 0; i < window.__GLOBAL_EXEC_CACHE.length; i ++) {
      $(window.__GLOBAL_EXEC_CACHE[i])
    }
  });
</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDoNotTrack", true]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.bewegung.jetzt/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '7']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->